* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}